.container {
    display: flex;
    align-items: center;
}

.container__image .image {
    border-top-left-radius: 60px;
}

.container__content {
    margin-left: 20px;
    padding: 20px;
    border: 2px solid #777;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #CCC;
}

.container__content h1 {
    color: #229395;
}

.container__content .description {
    font-family: monospace, sans-serif;
    font-size: 1.25rem;
}

.container__content a {
    color: orange;
}

.container__content a:visited {
    color: red;
}